<div class="flex flex-col justify-center">
  <strong class="text-[16px] uppercase">Todo List</strong>
  <h1 class="font-slab text-level-6 mb-6">archipelago</h1>
  <p class="text-level-2 mb-12">ärkəˈpeləˌɡō</p>
  <strong>noun</strong>
  <p class="text-level-1">a large group or chain of islands</p>
</div>
