---
import GitHubLogo from "$/assets/icons/github.svg";
import ExternalLinkArrow from "$/assets/icons/external-link-arrow.svg";
---

<div class="flex flex-col justify-center">
  <strong class="text-[16px] uppercase">Todo List</strong>
  <h1 class="font-slab text-level-6 mb-6">archipelago</h1>
  <p class="text-level-2 mb-8">ärkəˈpeləˌɡō</p>
  <strong>noun</strong>
  <div class="mb-16">
    <p class="text-level-1 mb-2">a large group or chain of islands</p>
    <p class="border-dark/20 border-l-4 pl-4 text-base italic">
      This todo list is an archipelago of Astro islands.
    </p>
  </div>
  <a
    href="https://github.com/JusticeMatthew/todo-archipelago-v2"
    target="_blank"
    class="bg-dark/75 text-light ring-dark w-fit rounded-lg ring shadow backdrop-blur-lg">
    <span
      class="hover:bg-highlight flex h-full w-full items-center gap-2 rounded-lg px-5 py-3">
      <GitHubLogo height={24} width={24} />
      Source
      <ExternalLinkArrow height={18} width={18} class="fill-light/80" />
    </span>
  </a>
</div>
